.movie-slide {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 36px;
}

.movie-slider {
  padding-bottom: 36px;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-spin-spinning {
  margin: 0 auto;
  display: block;
}