:where(.css-dev-only-do-not-override-190m0jy).ant-pagination .ant-pagination-options {
  display: none;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-pagination {
  margin: 36px auto 0;
  width: 500px;
  display: flex;
  justify-content: center;
}