.slide-item {
  display: flex;
  justify-content: start;
  height: 300px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

  &__img {
    width: 185px;
    height: 300px;
  }

  &__img-box {
    width: 185px;
    height: 300px;
  }
}

.slide-item {
  position: relative;
  width: 500px;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }

  &__title {
    font-family: 'Inter UI';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 12px 0 7px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
  }

  &__vote-average {
    position: absolute;
    right: 9px;
    top: 12px;
    width: 35px;
    height: 35px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__date {
    color: #827E7E;
    margin-bottom: 7px;
  }

  &__genres {
    display: flex;
    gap: 8px;
    margin-bottom: 7px;
    max-width: 265px;
    overflow: hidden;
  }

  &__text {
    word-break: break-all;
    margin-bottom: 14px;
  }
}

.genre-btn {
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FAFAFA;
  padding: 2px 4px;
}

.low-color {
  border-color: #E90000;
}

.below-middle-color {
  border-color: #E97E00;
}

.above-middle-color {
  border-color: #E9D100;
}

.high-color {
  border-color: #66E900;
}